.message {
    text-align: end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.imageAndText img {
    width: 100px;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(80, 80, 244);
    color: white;
    padding: 10px;
    margin: 20px 5px 20px 10px;
    border-radius: 15px 15px 0px 15px;
    gap: 5px;
    font-size: 16px;
    position: relative;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 0px;
    border-color: rgb(80, 80, 244) transparent;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.messageText {
    font-size: 16px;
}

.time {
    font-size: 13px;
    text-align: right;
    margin: 0 30px;
}