.input:focus {
}

.input {
    outline: transparent;
}

.inputWrapper {

}

.inputWrapper span {
    display: block;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
    font-size: 10px;
}
