.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 10px;
}
