.friendMessage {
    text-align: start;
}

.friendImageAndText {
    display: flex;
    align-items: center;
}

.friendImageAndText img {
    padding: 10px;
    width: 100px;
}

.friendText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px 10px 20px 5px;
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(217, 217, 217);
    gap: 5px;
    position: relative;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
    border-color: rgb(217, 217, 217) transparent;
}

.friendName {
    font-size: 18px;
    font-weight: 500;
}

.friendMessageText {
    font-size: 16px;
}

.friendTime {
    font-size: 13px;
    text-align: left;
    margin: 0 30px;
}
