.sendForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
}

.textarea {
    flex-grow: 1;
    background-color: rgb(223, 219, 219);
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    padding: 15px;
    font-size: 15px;
    margin-right: 30px;
}

.button {
    background-color: rgb(80, 80, 244);
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(57, 57, 176);
    cursor: pointer;
}
.button:active {
    background-color: rgb(57, 57, 176);
    cursor: pointer;
}
/*начал клепать. были пустые ячейки, теперь тут мои стили*/
